#search {
    width: 80%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 52px;
    margin-left: -180px;
    line-height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    /* border-right: none; */

    /* background-color: black; */
}

::placeholder{
    color: grey;
}

input:focus-visible  {
    border: 1px solid gray;
}

#add-user {
    margin-top: 50px;
    margin-left: -50px;
}

#reset {
    margin-top: 52px;
    margin-left: -180px;
    padding-left: 50px;
    padding-right: 50px;
}

#button {
    padding: 5px;
    border-left: none;
    font-size: 30px;
    border-radius: 5px;
    margin-top: -8px;
    margin-left: -40px;
    color: gray;
}